In [45]:
#############
## imports ##
#############

import requests
import pandas as pd
import numpy as np

######################################################################################

###########################
## URLs an Login Details ##
###########################

my_team_id = '3366741'

## URLs

## login url to create a session using my login details ## 
login_url = 'https://users.premierleague.com/accounts/login/'

## api url for the main dataset on player stats 
main_url = 'https://fantasy.premierleague.com/api/bootstrap-static/'

## api for my team
team_url = 'https://fantasy.premierleague.com/api/my-team/3366741/'

## api for ???
entry_url = 'https://fantasy.premierleague.com/api/entry/{team-id}/'

## api for fixtures
fix_url = 'https://fantasy.premierleague.com/api/fixtures/'


session = requests.session()

## login details ##
payload = {
 'password': 'Football!159',
 'login': 'andrew_c_morris@hotmail.co.uk',
 'redirect_uri': 'https://fantasy.premierleague.com/a/login',
 'app': 'plfpl-web'
}
session.post(login_url, data=payload)

ModuleNotFoundError: No module named 'aiohttp'

In [71]:

# main_req = requests.get(main_url)
# main_json = main_req.json()
# main_json.keys()


# team_req = requests.get(team_url)
# team_json = team_req.json()
# team_json.keys()
# type(team_json)

# fix_req = requests.get(fix_url)
# fix_json = fix_req.json()
# type(fix_json)

# entry_req = requests.get(entry_url)
# entry_json = entry_req.json()
# entry_json.keys()

(requests.get(fix_url).json())

ValueError: dictionary update sequence element #0 has length 16; 2 is required

TypeError: list indices must be integers or slices, not str

In [64]:
elements_df = pd.DataFrame(json['elements'])
elements_types_df = pd.DataFrame(json['element_types'])
teams_df = pd.DataFrame(json['teams'])

print(teams_df)

# slim_elements_df = elements_df[['second_name','team','element_type','selected_by_percent','now_cost','minutes','transfers_in','value_season','total_points']]


# slim_elements_df['position'] = slim_elements_df.element_type.map(elements_types_df.set_index('id').singular_name)
# slim_elements_df['team'] = slim_elements_df.team.map(teams_df.set_index('id').name)
# slim_elements_df['value'] = slim_elements_df.value_season.astype(float)

# slim_elements_df.head()

    code  draw  form  id  loss            name  played  points  position  \
0      3     0  None   1     0         Arsenal       0       0         0
1      7     0  None   2     0     Aston Villa       0       0         0
2     36     0  None   3     0        Brighton       0       0         0
3     90     0  None   4     0         Burnley       0       0         0
4      8     0  None   5     0         Chelsea       0       0         0
5     31     0  None   6     0  Crystal Palace       0       0         0
6     11     0  None   7     0         Everton       0       0         0
7     54     0  None   8     0          Fulham       0       0         0
8     13     0  None   9     0       Leicester       0       0         0
9      2     0  None  10     0           Leeds       0       0         0
10    14     0  None  11     0       Liverpool       0       0         0
11    43     0  None  12     0        Man City       0       0         0
12     1     0  None  13     0         Man Utd       0       0         0
13     4     0  None  14     0       Newcastle       0       0         0
14    49     0  None  15     0   Sheffield Utd       0       0         0
15    20     0  None  16     0     Southampton       0       0         0
16     6     0  None  17     0           Spurs       0       0         0
17    35     0  None  18     0       West Brom       0       0         0
18    21     0  None  19     0        West Ham       0       0         0
19    39     0  None  20     0          Wolves       0       0         0

   short_name  ...  team_division unavailable  win  strength_overall_home  \
0         ARS  ...           None       False    0                   1190
1         AVL  ...           None       False    0                   1050
2         BHA  ...           None       False    0                   1070
3         BUR  ...           None       False    0                   1140
4         CHE  ...           None       False    0                   1200
5         CRY  ...           None       False    0                   1080
6         EVE  ...           None       False    0                   1100
7         FUL  ...           None       False    0                   1000
8         LEI  ...           None       False    0                   1180
9         LEE  ...           None       False    0                   1030
10        LIV  ...           None       False    0                   1320
11        MCI  ...           None       False    0                   1310
12        MUN  ...           None       False    0                   1250
13        NEW  ...           None       False    0                   1090
14        SHU  ...           None       False    0                   1170
15        SOU  ...           None       False    0                   1150
16        TOT  ...           None       False    0                   1200
17        WBA  ...           None       False    0                   1020
18        WHU  ...           None       False    0                   1070
19        WOL  ...           None       False    0                   1200

    strength_overall_away  strength_attack_home  strength_attack_away  \
0                    1270                  1190                  1200
1                    1080                  1010                  1080
2                    1070                  1100                  1130
3                    1150                  1130                  1240
4                    1260                  1140                  1270
5                    1070                  1080                  1190
6                    1180                  1090                  1190
7                    1030                  1010                  1030
8                    1230                  1180                  1260
9                    1040                  1040                  1070
10                   1350                  1280                  1320
11                   1350                  1250                  1340
12                   1250                  1250                  1260
13                   1120                  1040                  1170
14                   1220                  1160                  1280
15                   1060                  1140                  1060
16                   1260                  1100                  1240
17                   1030                  1030                  1030
18                   1100                  1090                  1090
19                   1190                  1230                  1250

    strength_defence_home  strength_defence_away  pulse_id
0                    1160                   1270         1
1                    1000                   1110         2
2                    1060                   1060       131
3                    1050                   1170        43
4                    1240                   1250         4
5                    1010                   1040         6
6                    1150                   1180         7
7                    1000                   1050        34
8                    1220                   1250        26
9                     990                    990         9
10                   1300                   1340        10
11                   1340                   1350        11
12                   1200                   1290        12
13                   1020                   1070        23
14                   1010                   1150        18
15                   1190                   1090        20
16                   1200                   1260        21
17                   1020                   1150        36
18                   1040                   1210        25
19                   1170                   1200        38

[20 rows x 21 columns]

In [60]:
slim_elements_df.sort_values('value',ascending=False).head(10)

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position,value
99,Pope,Burnley,1,21.1,55,3420,0,30.9,170,Goalkeeper,30.9
72,Ryan,Brighton,1,21.1,45,3420,0,30.0,135,Goalkeeper,30.0
320,Henderson,Man Utd,1,4.3,55,3240,0,29.1,160,Goalkeeper,29.1
342,Dubravka,Newcastle,1,1.0,50,3420,0,28.6,143,Goalkeeper,28.6
207,Schmeichel,Leicester,1,13.4,55,3420,0,28.4,156,Goalkeeper,28.4
274,Alexander-Arnold,Liverpool,2,54.0,75,3173,0,28.0,210,Defender,28.0
435,Doherty,Spurs,2,26.2,60,2836,0,27.8,167,Defender,27.8
488,dos Santos Patrício,Wolves,1,6.7,55,3420,0,27.8,153,Goalkeeper,27.8
265,van Dijk,Liverpool,2,25.4,65,3420,0,27.4,178,Defender,27.4
134,Guaita,Crystal Palace,1,1.6,50,3150,0,27.4,137,Goalkeeper,27.4

In [23]:
## POSITION PIVOT ##

slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

slim_elements_df = slim_elements_df.loc[slim_elements_df.value > 0]

pivot=slim_elements_df.pivot_table(index='position',values='value',aggfunc=np.mean).reset_index()

pivot.sort_values('value',ascending=False)

     position      value
2  Goalkeeper  15.622581
0    Defender  12.429927
1     Forward  11.752941
3  Midfielder  11.262424

In [24]:
## TEAM PIVOT ##

team_pivot = slim_elements_df.pivot_table(index='team',values='value',aggfunc=np.mean).reset_index()

team_pivot.sort_values('value',ascending=False)

              team      value
3          Burnley  15.283333
12   Sheffield Utd  15.084211
16          Wolves  14.544444
7        Leicester  13.520000
8        Liverpool  13.456522
9         Man City  12.800000
13     Southampton  12.160000
2         Brighton  12.134783
11       Newcastle  11.892308
4          Chelsea  11.808696
6          Everton  11.350000
5   Crystal Palace  11.069565
14           Spurs  11.064000
10         Man Utd  10.821429
15        West Ham  10.800000
1      Aston Villa  10.454167
0          Arsenal  10.196429

In [29]:
## DISTRIBUTION OF VALUE ##

fwd_df = slim_elements_df.loc[slim_elements_df.position == 'Forward']
mid_df = slim_elements_df.loc[slim_elements_df.position == 'Midfielder']
def_df = slim_elements_df.loc[slim_elements_df.position == 'Defender']
goal_df = slim_elements_df.loc[slim_elements_df.position == 'Goalkeeper']

# goal_df.value.hist()
# goal_df.sort_values('value',ascending=False).head(10)

# def_df.value.hist()
def_df.sort_values('value',ascending=False).head(20)

,second_name,team,element_type,selected_by_percent,now_cost,minutes,transfers_in,value_season,total_points,position,value
274,Alexander-Arnold,Liverpool,2,53.9,75,3173,0,28.0,210,Defender,28.0
435,Doherty,Spurs,2,26.2,60,2836,0,27.8,167,Defender,27.8
265,van Dijk,Liverpool,2,25.2,65,3420,0,27.4,178,Defender,27.4
376,Egan,Sheffield Utd,2,17.1,50,3187,0,26.6,133,Defender,26.6
84,Tarkowski,Burnley,2,7.2,55,3420,0,26.0,143,Defender,26.0
270,Robertson,Liverpool,2,12.9,70,3111,0,25.9,181,Defender,25.9
374,Baldock,Sheffield Utd,2,5.7,55,3420,0,25.8,142,Defender,25.8
370,Stevens,Sheffield Utd,2,6.1,55,3345,0,25.8,142,Defender,25.8
64,Dunk,Brighton,2,10.3,50,3230,0,25.6,128,Defender,25.6
368,Basham,Sheffield Utd,2,2.5,50,3242,0,24.6,123,Defender,24.6
491,Coady,Wolves,2,7.5,50,3420,0,23.6,118,Defender,23.6
209,Evans,Leicester,2,0.1,55,3384,0,23.3,128,Defender,23.3
323,Lindelöf,Man Utd,2,2.1,50,3092,0,23.2,116,Defender,23.2
328,Wan-Bissaka,Man Utd,2,13.6,55,3070,0,23.1,127,Defender,23.1
417,Aurier,Spurs,2,4.7,55,2699,0,22.5,124,Defender,22.5
494,Castro Otto,Wolves,2,0.1,55,2885,0,22.4,123,Defender,22.4
313,Maguire,Man Utd,2,3.7,55,3420,0,22.4,123,Defender,22.4
377,O'Connell,Sheffield Utd,2,0.8,50,2915,0,22.2,111,Defender,22.2
91,Mee,Burnley,2,1.6,50,2880,0,22.0,110,Defender,22.0
227,Söyüncü,Leicester,2,11.4,55,3036,0,21.8,120,Defender,21.8

In [32]:
print(elements_df)

     chance_of_playing_next_round chance_of_playing_this_round    code  \
0                             NaN                         None   37605
1                             NaN                         None   39476
2                             NaN                         None   41270
3                             NaN                         None   54694
4                             NaN                         None   58822
..                            ...                          ...     ...
506                           NaN                         None  247632
507                           NaN                         None  428610
508                           NaN                         None  474003
509                           NaN                         None  449988
510                           NaN                         None  111291

     cost_change_event  cost_change_event_fall  cost_change_start  \
0                    0                       0                  0
1                    0                       0                  0
2                    0                       0                  0
3                    0                       0                  0
4                    0                       0                  0
..                 ...                     ...                ...
506                  0                       0                  0
507                  0                       0                  0
508                  0                       0                  0
509                  0                       0                  0
510                  0                       0                  0

     cost_change_start_fall  dreamteam_count  element_type ep_next  ...  \
0                         0                0             3     3.4  ...
1                         0                0             2     3.1  ...
2                         0                0             2     3.5  ...
3                         0                0             3     5.0  ...
4                         0                0             2     3.1  ...
..                      ...              ...           ...     ...  ...
506                       0                0             3     1.8  ...
507                       0                0             3     1.0  ...
508                       0                0             4     1.3  ...
509                       0                0             4     1.5  ...
510                       0                0             2     2.1  ...

     threat  ict_index influence_rank influence_rank_type  creativity_rank  \
0     190.0       99.8            258                 112               36
1     110.0       58.5            144                  53              299
2     211.0      102.1             50                  18              225
3    1369.0      285.2              8                   4               55
4     118.0       68.7            184                  68              161
..      ...        ...            ...                 ...              ...
506   260.0       71.8            252                 108              157
507     0.0        1.3            377                 161              336
508     0.0        0.0            481                  55              478
509     0.0        0.0            500                  61              500
510     0.0        0.0            464                 179              461

     creativity_rank_type threat_rank threat_rank_type  ict_index_rank  \
0                      30         177               97             137
1                     106         227               65             237
2                      61         163               32             132
3                      43           9                3              11
4                      34         226               64             205
..                    ...         ...              ...             ...
506                   103         137               81             192
507                   156         431              172             377
508                    55         476               55             481
509                    61         498               61             500
510                   179         456              178             464

    ict_index_rank_type
0                    73
1                    74
2                    35
3                     7
4                    59
..                  ...
506                  98
507                 161
508                  55
509                  61
510                 179

[511 rows x 61 columns]

In [65]:
#### save as csv ####

import pandas as pd
from datetime import datetime as dt

filename = 'FPL_VALUE-'

## Dateime to add to the filname
datetime = dt.now().strftime("%Y%m%d-%H%M%S")

## Location to export the CSV to
path = 'C:\\Python CSV Output\\'+filename+datetime+'.csv'


teams_df.to_csv(path,
          index = False)